html,
body {
  font-size: 20px;
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  color: #28352f;
}

.header__logo > a {
  color: #28352f;
  cursor: pointer;
  text-decoration: none;
}

.header__logo > a:hover {
  color: #457961;
  cursor: pointer;
  text-decoration: none;
}

.header__hamburger:hover {
  color: red;
  cursor: pointer;
}

.headline {
  background-image: url("images/Header-llustration-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.headline__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.headline__bodyText {
  color: #172b4d;
  margin: 0 auto;
  text-align: center;
}

.headline__nameOne {
  color: #172b4d;
}

.headline__nameTwo {
  color: #36b37e;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
}

.headline__social {
  display: flex;
  padding: 20px;
  list-style: none;
}

.headline__social > li > a > i {
  margin-right: 10px;
  color: #505f79;
  font-size: 20px;
}

.work__section {
  display: grid;
  grid-template-rows: repeat(5, auto);
  width: 100%;
}

.work__section > h1 {
  color: #172b4d;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.work__list {
  padding: 0%;
  list-style-type: none;
  padding-bottom: 10px;

}

.card {
  height: auto;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  margin-bottom: 20px;
}

.work__language {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 0;
}

.work__language p {
  justify-content: center;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #3A4A42;
}

.card > img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.card > h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.card > span {
  display: flex;
  justify-content: center;
}

.card > span > button {
  font-size: 13px;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #36b37f;
}

.card > span > button:hover {
  font-size: 13px;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #3ceea4;
}

.headline__form > span {
  display: flex;
  justify-content: center;
}

.aboutme__section > .headline__inner > span {
  display: flex;
  justify-content: center;
}

.aboutme__section > .headline__inner > span > button {
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  color: white;
  padding: 12px;
  border: none;
  height: 48px;
  width: 159px;
  border-radius: 4px;
  background-color: #36b37f;
}

.aboutme__section > .headline__inner > span > button:hover {
  font-size: 13px;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #3ceea4;
}

.skills__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme__section {
  background-image: url("images/Header-llustration-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.headline__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.headline__form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

.headline__form > span > input {
  margin-top: 10px;
  font-size: 13px;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #36b37f;
}

.headline__contact > h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.headline__contact > h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172B4D;
}


input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 3px solid lightblue;
}