html,
body {
  font-size: 20px;
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  color: #6070ff;
}

.header__hamburger:hover {
  color: red;
  cursor: pointer;
}

.headline {
  background-image: url("images/Header-llustration-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.headline__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.headline__bodyText {
  color: #172b4d;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.headline__nameOne {
  color: #172b4d;
}

.headline__nameTwo {
  color: #36b37e;
}

.headline__social > span > a > img {
  font-size: 20px;
  padding: 10px;
  color: #505f79;
}
